body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.title {
  font-size: 40px;
  font-family: "Piazzolla", serif;
  padding: 0px;
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 27px;
  }
}

.p-20 {
  padding: 20px;
}

.mt-8 {
  margin-top: 8px;
}

.zoom:hover {
  transform: scale(1.05);
}

.bold {
  font-weight: bold;
}

.h-325 {
  height: 325px;
}

.l-border-gold {
  border-left-color: gold;
}

.l-border-lightgreen {
  border-left-color: lightgreen;
}

.l-border-skyblue {
  border-left-color: skyblue;
}

.l-border-brown {
  border-left-color: brown;
}

.l-border-grey {
  border-left-color: grey;
}

.l-border-burlywood {
  border-left-color: burlywood;
}
